:root {
  --main-text-color: #ffffff;
  --secondary-text-color: #70103A;
  --yellow: #FFF9C5;
  --lavender: #DBAFFC;
  --gradient-1: linear-gradient(120deg,#FFF9C5 9%,#DBAFFC 91%);
  --gradient-1-reverse: linear-gradient(120deg,#DBAFFC 9%,#FFF9C5  91%);
  --bg-color: #1e1e1e;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 auto;
  background-color: #000;
  color: var(--main-text-color);
  max-width: 100vw;
}

#root {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.container {
  max-width: 1080px;
  margin: 30px auto;
  padding: 0 30px;
}

/* Text margin & padding reset */
h1, h2, h3, h4, h5, h6, p, small, dl, dt, dd, ol, ul, li {
  margin: 0;
	padding: 0;
}

input,
textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: var(--secondary-text-color);
  background: #ffffff;
  border-radius: 0.75rem;
  padding: 0.5rem;
  outline: none;
}

.gradient-text {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.color-text {
  background: var(--gradient-1);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.secondary-text {
  color: var(--secondary-text-color);
}

button {
  background: var(--lavender);
  border-radius: 0.75rem;
  border: none;
  margin: 10px;
  width: 100px;
  cursor: pointer;
  position: relative;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.form-btn {
  background: var(--bg-color);
  border-radius: 0.5rem;
  border: none;
  margin: 20px;
  cursor: pointer;
  position: relative;
  padding: 5px;
  color: var(--main-text-color);
}

.form-btn:hover {
  box-shadow: 0px 0px 4px 4px #cecece;
}

.gradient-btn {
  background: var(--gradient-1);
}

@media (max-width: 400px) {
  .gradient-btn, .form-btn {
      margin: 10px;
  }
}

.gradient-btn:hover::after {
  content: "";
  position: absolute;
  inset: 0.15em;
  background: conic-gradient(from 90deg at 40% -25%, #FFF9C5, #FFF9C5, #FFF9C5, #DBAFFC, #DBAFFC, #DBAFFC, #DBAFFC, #DBAFFC, #FFF9C5, #FFF9C5, #FFF9C5, #FFF9C5, #FFF9C5, #FFF9C5, #FFF9C5, #FFF9C5);
  filter: blur(16px);
  transform: translate3d(0px,0px,-1px);
  clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,calc(0px - 0px) calc(0px - 0px),calc(0px - 0px) calc(100% - 0px - 0px),calc(100% - 0px - 0px) calc(100% - 0px - 0px),calc(100% - 0px - 0px) calc(0px - 0px),calc(0px - 0px) calc(0px - 0px));
  pointer-events: none;
}

.current-btn {
  background: var(--yellow);
  color: var(--secondary-text-color);
  border-radius: 0.5rem;
  border: none;
  margin: 20px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 4px 4px #cd6491;
  padding: 5px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card label {
  margin-top: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  flex-direction: column;
  border: 2px solid var(--secondary-text-color);
  background: none;
  box-shadow: 4px 4px 20px #595959;
  border-radius: 1rem;
  padding: 20px;
  margin: 20px 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: auto;
  background: var(--bg-color);
}

/* ========= NAV BAR ========= */
.nav-bar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  background: var(--secondary-text-color);;
  padding: 10px 30px;
}

.nav-bar button {
  margin: 5px;
}

/* .color-select {
  background: var(--gradient-1);
  border-radius: 0.5rem;
} */

/* .translator {
  display: grid;
  align-items: center;
  justify-content: center;
} */


/* ========= LOADING SPINNER ========= */

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner {
  border: 8px solid;
  border-color: var(--yellow) transparent var(--lavender) transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 64px;
  height: 64px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}


/* ========= NEWSLETTER ========= */

.newsletter-overview {
  display: flex;
}

.newsletter-editions {
  min-width: calc(60vw + 40px);
}

.newsletter-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.newsletter-title {
  margin-bottom: 5px;
}

.newsletter-author {
  font-style: italic;
  margin-bottom: 10px;
}

.subscribe-form {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.subscribe-form label {
  font-size: smaller;
  color: dimgray;
}

.subscribe-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-email-input {
  min-width: 200px;
  max-width: 275px;
  border: 0px;
  padding: 5px 10px;
  margin-top: 5px;
}

.subscribe-btn {
  border: 0px;
  border-radius: 15px;
  margin: 0px;
  padding: 5px 10px;
}

.new-edition-btn {
  border: 0px;
  border-radius: 15px;
  margin: 0px;
  padding: 5px 10px;
}

/* ========= EDITIONS ========= */

.text-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid var(--secondary-text-color);
  background: none;
  box-shadow: 4px 4px 20px #595959;
  border-radius: 1rem;
  padding: 20px;
  margin: 20px 20px;
  min-width: 220px;
  max-width: 700px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edition-details {
  min-width: 200px;
  max-width: 575px;
  width: 100%;
  flex-grow: 1;
}

.price {
  text-align: center;
}

.buy-btn {
  margin: 5px 0;
}

/* ========= SEARCHBAR ========= */

.search form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 50px auto;
  max-width: 1000px;
}

.search-input {
  flex-grow: 1;
  border: 0px;
  min-width: 250px;
  max-width: 800px;
  padding: 5px 10px;
}

.search-btn {
  margin: 0;
}

/* ========= EXPLORE ========= */

#explore {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-card {
  width: 180px;
  height: 225px;
  border: 2px solid;
  border-color: var(--secondary-text-color);
  border-radius: 20px;
  margin: 20px 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 25px;
}

.newsletter-card:hover {
  cursor: pointer;
  border-color: var(--gradient-1);
  box-shadow: 0px 0px 4px 4px var(--gradient-1-reverse);
}

.newsletter-card-title {
  margin-bottom: 10px;
  font-weight: 800;
}

.newsletter-card-author {
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 400;
}

.newsletter-card small {
  align-self: flex-end;
  justify-self: flex-end;
  font-style: italic;
  font-weight: 200;
}

/* ========= PROFILE ========= */

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.profile-newsletter-header {
  display: flex;
  justify-content: space-between;
}

.yourNewsletters {
  display: flex;
  flex-wrap: wrap;
}

.createNewsletter {
  width: 100px;
  background: var(--gradient-1);
  color: #fff;
  border-radius: 15px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createNewsletter p {
  text-align: center;
  color: var(--secondary-text-color);
}

.user-info {
  border-left: 1px solid dimgray;
  padding: 20px;
}

.user-info small {
  color: dimgray;
}

.create-btn {
  width: 180px;
  height: 225px;
  border: 2px solid;
  border-color: var(--secondary-text-color);
  background-color: var(--gradient-1);
  border-radius: 20px;
  margin: 20px 20px;
  padding: 20px;
  display: flex;
  place-items: center center;
}

.create-btn:hover {
  box-shadow: 0px 0px 4px 4px #cecece;
}

/* ========= SIGN IN ========= */

.sign-in-container {
  padding: 30px;
  margin: auto;
  text-align: center;
}

.sign-in-main {
  background: var(--gradient-1);
  width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 1rem;
  box-shadow: 4px 4px 20px #595959;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-in-form input {
  display: block;
  margin: 10px auto 0px auto;
  width: 200px;
}

#sign-in-button {
  margin: 30px auto 5px auto;
}

.create button {
  width: 200px;
}

.create-header {
  margin: 20px;
}

.invoice-header {
  margin: 20px 20px;
  font-size: 20px;
  font-weight: 600;
}

.invoice-email-input{
  width: 275px;
  padding: 5px;
}

.carousel-slide {
    display: grid;
    place-items: center center;
    width: 80%;
    margin: auto;
    padding: 0px;
}

.slider {
  display: flex;
  place-items: space-around space-around;
  padding: 15px;
}