:root {
  --main-text-color: #cab517;
  --secondary-text-color: #1ab19d;
  --gradient-1: linear-gradient(54deg,#cab517 9%,#1ab19d 91%);
  --gradient-1-reverse: linear-gradient(54deg,#1ab19d 9%,#cab517  91%);
  --bg-color: rgb(33, 20, 1);
}

/* Text margin & padding reset */
h1, h2, h3, h4, h5, h6, p, small, dl, dt, dd, ol, ul, li {
  margin: 0;
	padding: 0;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

.gradient-text {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.color-text {
  background: var(--gradient-1);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.buy-btn {
  margin: 10px;
  width: 80px;
}

.form-btn {
  background: var(--bg-color);
  border-radius: 0.5rem;
  border: none;
  margin: 20px;
  cursor: pointer;
  position: relative;
  padding: 5px;
  color: var(--main-text-color);
}

.form-btn:hover {
  box-shadow: 0px 0px 4px 4px #cecece;
}

.gradient-btn {
  background: var(--gradient-1);
  border-radius: 0.5rem;
  border: none;
  margin: 20px;
  cursor: pointer;
  position: relative;
  padding: 5px;
}

@media (max-width: 400px) {
  .gradient-btn, .form-btn {
      margin: 10px;
  }
}

.gradient-btn:hover::after {
  content: "";
  position: absolute;
  inset: -.625em;
  background: var(--gradient-1);
  filter: blur(1.5em);
  z-index: -1;
}

.current-btn {
  background: var(--gradient-1);
  border-radius: 0.5rem;
  border: none;
  margin: 20px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 4px 4px #cecece;
  padding: 5px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========= NAV BAR ========= */
.nav-bar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  background: rgb(30, 51, 0);
  padding: 0 30px;
}

.text-card {
  display: grid;
  border: 1px solid #000;
  background: none;
  box-shadow: 4px 4px 20px #cecece;
  border-radius: 1rem;
  padding: 5px 20px;
  margin: 20px 20px;
  width: 60vw;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.color-select {
  background: var(--gradient-1);
  border-radius: 0.5rem;
}

.translator {
  display: grid;
  align-items: center;
  justify-content: center;
}


/* ========= LOADING SPINNER ========= */

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner {
  border: 8px solid;
  border-color: var(--main-text-color) transparent var(--secondary-text-color) transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 64px;
  height: 64px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}


/* ========= NEWSLETTER ========= */

.newsletter-overview {
  display: flex;
  min-height: 80vh;
}

.newsletter-page {
  max-width: 100vw;
}

.newsletter-info {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px solid #000;
  background: none;
  box-shadow: 4px 4px 20px #cecece;
  border-radius: 1rem;
  padding: 5px 20px;
  margin: 20px 20px;
  width: 20vw;
}

.newsletter-editions {
  min-width: calc(60vw + 40px);
  margin: 20px 20px;
}

.subscribe-form {
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

.subscribe-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edition-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* ========= SEARCHBAR ========= */

#search form {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 60px;
  max-width: 100vw;
}

.searchInput {
  border: 1px solid;
  border-radius: 11px;
  max-width: 60vw;
  padding: 3px 5px;
}

/* ========= EXPLORE ========= */

#explore {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-card {
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-color: #000;
  border-radius: 20px;
  margin: 0px 20px 20px 0px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 25px;
}

.newsletter-card:hover {
  cursor: pointer;
  border-color: var(--gradient-1);
  box-shadow: 0px 0px 4px 4px #cecece;
}

.newsletter-card h3, h5 {
  margin-bottom: 15px;
}

.newsletter-card small {
  align-self: flex-end;
  justify-self: flex-end;
}

/* ========= PROFILE ========= */

.profile-grid {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 200px;
}

.profile-newsletter-header {
  display: flex;
  justify-content: space-between;
}

.yourNewsletters {
  display: flex;
  flex-wrap: wrap;
}

.createNewsletter {
  width: 100px;
  background: var(--gradient-1);
  color: #fff;
  border-radius: 15px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createNewsletter p {
  text-align: center;
}

.user-info {
  border-left: 1px solid dimgray;
  padding: 20px;
}

.user-info small {
  color: dimgray;
}

/* ========= SIGN IN ========= */

.sign-in-container {
  padding: 30px;
  margin: auto;
  text-align: center;
}

.sign-in-main {
  background: var(--gradient-1);
  width: 400px;
  margin: auto;
  padding: 30px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-in-form input {
  display: block;
  margin: 10px auto 0px auto;
  width: 200px;
}

#sign-in-button {
  margin: 30px auto 5px auto;
}

.create button {
  width: 200px;
}

.create-header {
  margin: 20px;
}

.invoice-header {
  margin: 20px 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}