/* body {
  background-color: #000017;
} */

.gradient-text {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.color-text {
  background: linear-gradient(54deg,#f0f 7.13%,#0ff 91%);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-btn {
  background: linear-gradient(54deg,#f0f,#0ff);
  border-radius: 0.5rem;
  border: none;
  margin: 20px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 400px) {
  .gradient-btn {
      margin: 10px;
  }
}

.gradient-btn:hover::after {
  content: "";
  position: absolute;
  inset: -.625em;
  background: linear-gradient(54deg,#f0f,#0ff);
  filter: blur(1.5em);
  z-index: -1;
}

.current-btn {
  background: linear-gradient(54deg,#0ff, #f0f);
  border-radius: 0.5rem;
  border: none;
  margin: 20px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 4px 4px #cecece;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  background: rgb(29, 0, 123);
  padding: 0 30px;
}

.text-card {
  display: grid;
  border: 1px solid #000;
  background: none;
  box-shadow: 4px 4px 20px #cecece;
  border-radius: 1rem;
  padding: 5px 20px;
  margin: 20px 20px;
  width: 60vw;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.color-select {
  background: linear-gradient(54deg,#f0f,#0ff);
  border-radius: 0.5rem;
}

.translator {
  display: grid;
  align-items: center;
  justify-content: center;
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

.newsletter-overview {
  display: flex;
  min-height: 90vh;
}

.newsletter-page {
  width: 100vw;
}

.newsletter-info {
  display: grid;
  justify-content: flex-start;
  border: 1px solid #000;
  background: none;
  box-shadow: 4px 4px 20px #cecece;
  border-radius: 1rem;
  padding: 5px 20px;
  margin: 20px 20px;
  width: 20vw;
}

.newsletter-editions {
  min-width: calc(60vw + 40px);
  margin: 20px 20px;
}

.subscribe-form {
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

#search form {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 60px;
}

.searchInput {
  border: 1px solid;
  border-radius: 11px;
}

#explore {
  margin: 30px;
}

.newsletter-card {
  width: 150px;
  border: 1px solid;
  border-color: #000;
  border-radius: 20px;
  padding: 30px;
}